@import 'src/app/styles/mixins';


#unauthorized {
    width: 100%;
    height: 100%;
    display: flex;
    @include flexCenter(column);
    background: var(--VERY-DARK);
    color: #FFFFFF;

    #security {
        font-size: 48px;
        @include flexCenter(row);
        margin: 10px;
    }

    #message {
        @include flexCenter(column);
        padding: 25px;
        background: #000000;

        div {
            text-align: center;
        }
    }

    rep-button {
        margin: 15px;
    }


    .danger {
        color: var(--DANGER);
    }
}