<div id="unauthorized">

  <div class="message">

    <mat-icon class="danger security">gpp_bad</mat-icon>
    <h1>Not authorized <span class="danger">(401)</span></h1>

    <div>

      <p>
        The system detected you were trying to perform a malicious operation
        <br>
        or your session has expired, you have been disconnected for safety reasons.
        <br>
        If you're experiencing this issue frequently we advice you to delete the browser cache.
      </p>

    </div>

  </div>

  <rep-button routerLink="/login">Log In</rep-button>

  <mtd-footer></mtd-footer>

</div>
