<div id="message-box" [ngStyle]="{ 
        background: active ? 'rgb(67 67 67)' : '' 
    }">
    
    <div id="user-image" [style.background]="'url(' + message.userImage + ')' + 'no-repeat center/cover'"></div>

    <div id="message-info">

        <div>
            <p 
                [style.color]="message.userColor" 
                (click)="onUserClick.emit('onUserClick')"
                id="username">{{message.userName}}</p>
            <p id="time">{{dateFormatter()}}</p>
        </div>

        <div id="content">
            <p>
                {{message.userMessage}}
            </p>
        </div>

    </div>

    <flat-window-menu [subMenu]="options" 
    (open)="setToggle($event)"></flat-window-menu>

</div>