@use '~@angular/material' as mat;
@include mat.core();

$RepubliChat-primary: mat.define-palette(mat.$indigo-palette);
$RepubliChat-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$RepubliChat-warn: mat.define-palette(mat.$red-palette);

$RepubliChat-theme: mat.define-light-theme((
  color: (
    primary: $RepubliChat-primary,
    accent: $RepubliChat-accent,
    warn: $RepubliChat-warn,
  )
));

@include mat.all-component-themes($RepubliChat-theme);

@import '../src/app/styles/fonts';

* {
  margin: 0;
  padding: 0;
  font-family: roboto;
}

:root {
  --DARK: #1a1c1d;
  --VERY-DARK: #121212;
  --LIGHT-DARK: #202124;
  --OBSCURE: #9595951a;
  --OBSCURE_SECONDARY: #ffffff98;
  --GREY: #434343;
  --WHITE: #FFFFFF;
  --SUCCESS: #46a35e;
  --WARNING: #F59E0B;
  --DANGER: #c62828;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--WHITE);
}

a {
  font-size: 18px;
  text-decoration: none;
  color: hotpink;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border: solid 3px transparent;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px var(--GREY);
  border: solid 3px transparent;
  border-radius: 10px;

  &:hover {
    box-shadow: inset 0 0 10px 10px var(--OBSCURE);
  }
}

mat-icon {
  user-select: none;
}

.mat-tooltip {
  margin-top: 5px !important;
  font-size: 14px !important;
}



// Global animations
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
