
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$RepubliChat-primary: mat.define-palette(mat.$indigo-palette);
$RepubliChat-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$RepubliChat-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$RepubliChat-theme: mat.define-light-theme((
  color: (
    primary: $RepubliChat-primary,
    accent: $RepubliChat-accent,
    warn: $RepubliChat-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($RepubliChat-theme);

* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
  --DARK: #121212;
  --LIGHT-DARK: #151415;
  --OBSCURE: #95959536;
  --OBSCURE_SECONDARY: #ffffff98;
  --GREY: #434343;
  --WHITE: #FFFFFF;
  --SUCCESS: #46a35e;
  --WARNING: #F59E0B;
  --DANGER: #c62828;
}

html, body { 
  height: 100%; 
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  color: var(--WHITE);
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: var(--DARK);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--GREY);

  &:hover {
    background: var(--OBSCURE);
  }
}

mat-icon {
  user-select: none;
}