<div id="privacy">

    <h1>Active sessions</h1>

    <rep-separator>Manage sessions</rep-separator>

    <div *ngFor="let device of devices; let i = index" class="devices">
        <div>
            <div id="browser">
                <h2>{{device.browserName}}</h2>
                <p>{{device.browserVersion}}</p>
            </div>
            <p>{{device.date | date: _utils.settings.dateFormat}}</p>
        </div>
        <rep-button *ngIf="!device.current" (onClick)="disconnectDevice(i)" background="danger" icon="eject">Disconnect</rep-button>
        <p *ngIf="device.current">(Current session)</p>
    </div>

</div>