<div id="unauthorized">

    <div id="message">

        <mat-icon class="danger" id="security">gpp_bad</mat-icon>
        <h1>Not authorized <span class="danger">(401)</span></h1>
        
        <div>

            <p>
                The system detected you were trying to perform a malicious operation
                <br>
                or your session has expired, you have been disconnected for safety reasons.
            </p>
            
        </div>
        
    </div>

    <flat-button routerLink="/login">Log In</flat-button>

</div>

<footer></footer>