<div id="login">

  <mtd-emoji-background></mtd-emoji-background>

  <div class="form">

    <div class="rect"></div>

    <form class="login-form"
      (ngSubmit)="logIn()"
      [formGroup]="form"
      [style.animation]="alert ? 'shake 0.5s' : ''"
    >

      <h1>Log in</h1>

      <rep-input
        formControlName="email"
        [autofocus]="true"
        placeholder="Email"
        maxLength="320"
      ></rep-input>

      <rep-input
        formControlName="password"
        type="password"
        placeholder="Password"
        maxLength="255"
      ></rep-input>

      <rep-actions [actions]="actions"></rep-actions>

      <span class="alert">
        {{alert}}
      </span>

      <a routerLink="">Forgot password?</a>

    </form>

  </div>

  <mtd-footer></mtd-footer>

</div>
