@import 'src/app/styles/mixins';


#login {
  width: 100%;
  height: 100vh;
  background: var(--VERY-DARK);
  position: fixed;
  @include flexCenter(column);

  mtd-emoji-background {
    width: 100%;
    height: 100%;
  }

  .form {
    width: 100%;
    height: 100%;
    position: absolute;
    @include flexCenter(row);


    .rect {
      width: 100%;
      background: linear-gradient(120deg, #1f1a24d5 55%, #aaa3a380 100%);
      animation: onOpenLogIn 1s forwards;
    }

    .login-form {
      position: absolute;
      @include flexCenter(column);
      z-index: 10;
      animation: fadeIn 1s;

      h1 {
        font-size: 28px;
        color: var(--WHITE);
      }

      rep-input {
        margin: 15px;
      }

      rep-actions {
        margin-top: 15px;
      }

      .alert {
        width: 100%;
        height: 15px;
        position: relative;
        display: grid;
        place-items: center;
        margin-top: 10px;
        color: var(--DANGER);
      }

      a {
        margin: 15px;
      }
    }
  }


  rep-footer {
    width: 100%;
  }
}


@keyframes onOpenLogIn {
  0% {
    transform: skewY(-8deg);
    height: 60vh;
  }

  100% {
    transform: skewY(8deg);
    height: 45vh;
  }
}
