<div id="p-newchannel">

  <h1>Create new channel</h1>

  <rep-separator>Channel creation</rep-separator>

  <form class="channel-info column" [formGroup]="formCreation">

    <rep-img-upload></rep-img-upload>

    <rep-input formControlName="channelName" placeholder="Channel name" required="true"></rep-input>

    <rep-actions reverse="true" [actions]="newChannelActions"></rep-actions>

    <p>You will be able to edit the channel settings after its creation.</p>

  </form>


  <rep-separator>Add channel</rep-separator>

  <h1>Add an existing channel</h1>

  <form class="channel-info column" [formGroup]="formAdd">

    <div class="aligned">

      <rep-input formControlName="channelName" placeholder="Channel name" required="true"></rep-input>

      <rep-input formControlName="channelCode" maxLength="4" placeholder="Channel code" required="true" size="small"
      tooltip="Multiple channels can have the same name, but they cannot have the same code"></rep-input>

    </div>

    <rep-actions reverse="true" [actions]="existingChannelActions"></rep-actions>

  </form>

</div>
