<div id="p-newchannel">

    <h1>Create new channel</h1>

    <rep-separator>Channel picture</rep-separator>

    <div id="image-upload">

        <label for="file-input">
            <img src="/assets/upload.png" id="picture"/>
        </label>

        <input id="file-input" type="file" (change)="onChange($event.target.files)" />

    </div>

    <rep-separator>Channel informations</rep-separator>

    <div class="channel-info">

        <rep-input placeholder="Channel name" [(text)]="channel.name" required="true"></rep-input>

    </div>

    <p>You will be able to edit the channel and all its settings once you first created it.</p>
        
    <rep-actions [actions]="newChannelActions"></rep-actions>

    <rep-separator>Or</rep-separator>

    <h1>Add an existing channel</h1>

    <div class="channel-info">

        <rep-input placeholder="Channel name" required="true"></rep-input>

        <rep-input placeholder="Channel code" required="true"
        tooltip="Multiple channels can have the same name, but they cannot have the same code"></rep-input>

    </div>

    <rep-actions [actions]="existingChannelActions"></rep-actions>

</div>