#p-newchannel {
  width: 100%;
  height: 100%;
  color: var(--WHITE);
  display: flex;
  align-items: center;
  flex-direction: column;
  animation: fadeIn 250ms;

  rep-separator {
    width: 100%;
  }

  h1 {
    align-self: flex-start;
    margin: 15px;
  }

  .flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  p {
    color: var(--OBSCURE_SECONDARY);
    margin: 0 0 0 10px;
  }

  rep-input {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  rep-img-upload {
    justify-self: center;
  }

  .channel-info {
    width: 100%;
    display: flex;
    margin: 0 0 25px 0;
    align-items: center;
    border-radius: 10px;
  }

  .aligned {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .column {
    display: grid;
    flex-direction: column;

    rep-input {
      justify-self: center;
    }
  }

  @media only screen and (max-width: 450px) {
    p {
      font-size: 14px;
    }
  }
}
