@import 'src/app/styles/mixins';


.obscure {
  width: 100%;
  height: 100%;
  @include flexCenter(row);
  background: var(--OBSCURE);
  backdrop-filter: blur(1px);
  position: fixed;
  z-index: 9999;

  .dialog {
    width: 40%;
    max-height: 45%;
    max-width: 50%;
    min-width: 50%;
    border-radius: 5px;
    @include flexCenter(column);
    background: var(--LIGHT-DARK);
    border: none;
    -webkit-box-shadow: 5px 5px 15px 5px #00000080;
    box-shadow: 5px 5px 15px 5px #00000080;

    rep-separator {
      width: 90%;
    }

    .bar {
      width: 100%;
      height: 40px;
      display: flex;
      align-items: center;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background: var(--LIGHT-DARK);

      .handle {
        width: 100%;
        height: 100%;
        cursor: move;
      }

      .back {
        margin: 5px;
        font-size: 28px;
        display: grid;
        background: transparent;
        border: none;
        place-items: center;
        color: var(--DANGER);
        cursor: pointer;

        &:hover {
          color: lighten(#c62828, $amount: 10%);
        }
      }
    }

    .title {
      width: 100%;
      text-align: center;
      background: var(--LIGHT-DARK);

      h1 {
        margin: 10px;
      }
    }

    .message {
      width: 100%;
      height: 100%;
      overflow: auto;
      word-wrap: break-word;
      text-align: center;

      p {
        margin: 10px;
        font-size: 18px;
      }
    }

    rep-actions {
      width: 100%;
      margin: 10px;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
    }

  }

  @media only screen and (max-width: 400px) {

    .message {

      p {
        font-size: 14px;
      }
    }

    .title {

      h1 {
        font-size: 21px;
      }
    }

    .dialog {
      width: 90%;
      max-width: 90%;
      min-width: 90%;
      min-height: 50%;
    }

  }
}
