#profile {
    width: 100%;
    color: var(--WHITE);
    display: flex;
    flex-direction: column;
    user-select: none;


    #banner {
        width: 100%;
        min-height: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--GREY);

        #profile-info {
            display: flex;
            align-items: center;
            height: 100%;

            #image-upload {
                width: 75px;
                height: 75px;
                border-radius: 50%;
                margin: 15px 0 15px 0;
                border: 5px solid var(--DARK);

                #picture {
                    width: 75px;
                    height: 75px;
                    cursor: pointer;
                    border-radius: 50%;
                    transition: 100ms;
                    -webkit-user-drag: none;

                    &:hover {
                        opacity: 0.5;
                    }
                }

                #file-input {
                    display: none;
                    visibility: hidden;
                    width: 0;
                    height: 0;
                }
            }

            #banner-info {
                height: 100%;

                rep-tooltip {
                    display: none;
                }

                #info {
                    color: var(--GREY);
                }

                #info:hover + rep-tooltip {
                    display: flex;
                }
            }
        }

        rep-actions {
            height: 30px;
        }
    }

    rep-toggle {
        margin: 10px;
    }

    rep-input {
        margin: 10px 10px 10px 0;
    }

    #settings {
        width: 100%;
        display: flex;
        flex-direction: column;

        rep-message {
            width: 100%;
        }


        form {
            width: 100%;
            height: 90%;
            display: flex;
            flex-direction: column;
            border-radius: 10px;
        }
    
        #strict {
            width: 100%;
            height: 60px;
            display: flex;
            align-items: center;
            background: var(--DARK);
            border-radius: 10px;
        }

    }
}

.aligned {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

rep-separator {
    width: 100%;
    margin: 20px 0 20px 0;
}