<div id="profile">

  <div class="banner">

    <div class="profile-info">

      <rep-img-upload
        [src]="_user.currentUser.picture"
        [letter]="_user.currentUser.name"
        [backgroundColor]="_user.currentUser.backgroundColor"
        (image)="onChange($event)"
      ></rep-img-upload>

      <div class="banner-info">

        <h2 [style.color]="_user.currentUser.color">{{_user.currentUser.name}}</h2>

        <div style="display: flex;">

          <p>{{_user.currentUser.code}}</p>
          <rep-info tooltip="This is your unique code, give this code to a friend in order to be added in his friend list"></rep-info>

        </div>

      </div>

    </div>

    <rep-actions [actions]="topbarActions"></rep-actions>

  </div>

  <div class="settings">

    <rep-message [message]="exampleMsg" [options]="exampleMsgOptions"></rep-message>

    <rep-separator>Personal informations</rep-separator>

    <form>

      <div class="aligned">

        <rep-input
          [(text)]="user.name"
          [(text)]="exampleMsg.name"
          maxLength="30"
          required="true"
          [enabled]="editName"
          placeholder="Name"
        >
        </rep-input>

        <rep-toggle [(checked)]="editName" iconOnTrue="lock_open" iconOnFalse="lock"></rep-toggle>

      </div>

      <div class="aligned">

        <rep-input
          [(text)]="user.email"
          placeholder="Email"
          required="true"
          [enabled]="editEmail"
        ></rep-input>

        <rep-toggle
          [(checked)]="editEmail"
          iconOnTrue="lock_open"
          iconOnFalse="lock"
        ></rep-toggle>

      </div>

      <rep-textarea placeholder="Biography, max(200)"></rep-textarea>

    </form>

    <rep-separator>Strict settings</rep-separator>

    <!-- <input class="user-color"
    [(ngModel)]="user.userColor"
    [(ngModel)]="exampleMsg.userColor" type="color"> -->

    <div class="strict">
      <rep-actions [actions]="strictActions"></rep-actions>
    </div>

  </div>

</div>
