<div id="signup">

    <div id="particle-container">
        <div class="particle" *ngFor="let particle of particleNumber"></div>
    </div>

    <div id="rect"></div>

    <form id="signup-form" (keyup.enter)="signUp()">

        <h1>Sign up</h1>

        <flat-input [(text)]="user.userName" placeholder="Nickname" required="true"></flat-input>

        <flat-input [(text)]="user.name" placeholder="Name" required="true"></flat-input>

        <flat-input [(text)]="user.password" type="password" placeholder="Password" required="true"></flat-input>

        <flat-input [(text)]="confirmPassword" type="password" placeholder="Confirm password" required="true"></flat-input>

        <div>
            <flat-button (click)="signUp()" icon="login">Sign Up</flat-button>
        </div>
        
        <p>{{alert}}</p>
        
        <a routerLink="/login">Already registered? Log In</a>
        
    </form>

    <footer></footer>

</div>