#profile {
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    user-select: none;

    #banner {
        width: 100%;
        height: 10vh;
        display: flex;
        align-items: center;

        #image {
            width: 75px;
            height: 75px;
            margin: 10px;
            border: 5px solid #111111;
            border-radius: 50%;

            #file {
                width: 75px;
                height: 75px;
                pointer-events: visible;
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
            }
            
            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                cursor: pointer;
                transition: 150ms;
                -webkit-user-drag: none;

                &:hover {
                    opacity: 0.45;
                }
            }
        }

        #banner-info {
            height: 100%;
        }
    }
}