#profile {
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    user-select: none;


    #banner {
        width: 100%;
        min-height: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgba(255, 255, 255, 0.165);

        #profile-info {
            display: flex;
            align-items: center;
            height: 100%;

            #image-upload {
                width: 75px;
                height: 75px;
                border-radius: 50%;
                margin: 15px;
                border: 5px solid #111111;

                #picture {
                    width: 75px;
                    height: 75px;
                    cursor: pointer;
                    border-radius: 50%;
                    transition: 100ms;
                    -webkit-user-drag: none;
    
                    &:hover {
                        opacity: 0.5;
                    }
                }

                #file-input {
                    display: none;
                    visibility: hidden;
                    width: 0;
                    height: 0;
                }
            }

            #banner-info {
                height: 100%;
            }
        }



        #save {
            align-self: flex-end;
            margin: 10px;
        }
    }

    flat-input {
        margin: 10px;
    }

    .aligned {
        display: flex;
        align-items: center;
    }

    .edit {
        margin-top: 15px;
    }

    #settings {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        #user-color {
        }
    }
}