<rep-sidemenu
    id="channels"
    [entries]="channels"
    (onNew)="addNew()"
    (onTab)="channelsTab = $event"
>

    <rep-accordion
        *ngFor="let section of channels[channelsTab]?.sections; let i = index"
        [open]="channels[channelsTab].sections[i].open || section.id == _msService.currentChannel?.id"
        (click)="selectChannel(section); expandChannel(i)"
    >

        <rep-message header
            [message]="section"
            [hold]="_msService.currentChannel?.id == section.id"
        >
        </rep-message>

        <div class="rooms" body stopPropagation>

            <rep-separator *ngIf="_msService.currentChannel?.rooms?.text.length > 0">Text rooms</rep-separator>

            <rep-room
                *ngFor="let room of _msService.currentChannel?.rooms?.text"
                [roomName]="room.roomName"
                [textRoom]="room.textRoom"
                [hold]="room.roomID == _msService.currentRoom?.roomID"
                (click)="selectRoom(room)"
            >
            </rep-room>

            <rep-separator *ngIf="_msService.currentChannel?.rooms?.vocal.length > 0">Vocal rooms</rep-separator>

            <rep-room
                *ngFor="let room of _msService.currentChannel?.rooms?.vocal"
                [roomName]="room.roomName"
                [textRoom]="room.textRoom"
                [hold]="room.roomID == _msService.currentRoom?.roomID"
                (click)="selectRoom(room)"
            >
            </rep-room>

        </div>

    </rep-accordion>

    <small *ngIf="channels[channelsTab]?.sections.length == 0">{{channels[channelsTab]?.tabname}} is empty</small>

</rep-sidemenu>
