<div id="signup">

  <mtd-emoji-background></mtd-emoji-background>

  <div class="form">

    <div class="rect"></div>

    <form class="signup-form" (ngSubmit)="signUp()" [formGroup]="form"
      [style.animation]="alert ? 'shake 0.5s' : ''"
    >

      <h1>Sign up</h1>

      <rep-input
        formControlName="name"
        maxLength="30"
        tooltip="The name that will be visible to all other users (Maximum 30 characters and minimum 3)"
        placeholder="Name"
        required="true"
      ></rep-input>

      <rep-input
        formControlName="email"
        tooltip="Needed for login and account validation"
        placeholder="Email"
        required="true"
      ></rep-input>

      <rep-input
        formControlName="password"
        tooltip="Maximum 255 characters  and minimum 8"
        maxLength="255"
        type="password"
        placeholder="Password"
        required="true"
      ></rep-input>

      <rep-input
        formControlName="confirmPassword"
        maxLength="255"
        type="password"
        placeholder="Confirm password"
        required="true"
      ></rep-input>

      <rep-actions [actions]="actions"></rep-actions>

      <div class="alert">
        {{alert}}
      </div>

    </form>

  </div>

  <rep-footer></rep-footer>

</div>
