<div id="p-channelsettings">

  <rep-accordion
    *ngFor="let section of channels; let i = index"
    [open]="section.open"
    (onExpand)="expandChannel(section)"
  >

    <rep-namebox
      header
      [message]="section"
      [hold]="section.open"
      [repContext]="channelContext"
      [repUniqueID]="section"
    >
    </rep-namebox>

    <div
      class="body"
      body
    >

      <rep-tabs
        class="channel-info"
        [entries]="serverInfo"
        [add]="false"
        (onTab)="serverInfoTab = $event"
      >

        <ng-container
          *ngIf="selectedChannel?.members"
        >

          <rep-accordion
            *ngFor="
            let member of selectedChannel.members
            |
            filterMembers: serverInfo[serverInfoTab].tabname"
            class="members"
            (onExpand)="expandMember(member)"
            [open]="member.open"
            [ngClass]="{
              'grayed-out': member.id == selectedChannel.founder
            }"
          >

            <rep-namebox
              header
              [message]="member"
            >
            </rep-namebox>

            <div
              body
              class="permissions"
            >

            <rep-actions [actions]="memberActions"></rep-actions>

              <rep-separator>{{member.name}}'s permissions</rep-separator>

              <ng-container
                *ngFor="let permission of permissionList"
              >

                <div class="permission">

                  <div>
                    <h1>{{permission.name}}</h1>
                    <p>{{permission.description}}</p>
                  </div>

                  <rep-toggle
                    *ngIf="getType(permission.value) == 'boolean'"
                    [(checked)]="permission.value"
                    (checkedChange)="changePermission(permission)"
                  >
                  </rep-toggle>

                  <rep-input
                    *ngIf="getType(permission.value) == 'number'"
                    type="number"
                    size="small"
                    placeholder="Level"
                  >
                  </rep-input>

                </div>

              </ng-container>

            </div>

          </rep-accordion>

        </ng-container>

      </rep-tabs>


    </div>

  </rep-accordion>

</div>
