#p-channelsettings {
  width: 100%;
  height: 100%;
  animation: fadeIn 250ms;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  overflow-x: hidden;

  rep-accordion {
    width: 100%;
    user-select: none;
    display: flex;

    rep-namebox {
      cursor: pointer;
    }
  }

  .body {
    width: 100%;
    background: var(--LIGHT-GREY);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  rep-actions {
    margin: 10px;
  }

  rep-separator {
    width: 90%;
    margin: 10px;
  }

  .members {
    width: 95%;
    margin: 5px 0 5px 5px;
  }

  .permissions {
    width: 100%;
    height: 100%;
  }

  .permission {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0 30px 0;

    div {
      display: flex;
      flex-direction: column;

      p {
        color: var(--OBSCURE_SECONDARY);
      }
    }
  }

  .channel-info {
    width: 100%;
  }

  .grayed-out {
    pointer-events: none;
    opacity: 0.5;
  }
}
