<div id="p-channelsettings">

  <rep-accordion
    *ngFor="let section of channels; let i = index"
    [open]="section.open"
    (onExpand)="expandChannel(i)"
  >

    <rep-namebox
      header
      [message]="section"
      [hold]="section.open"
      [repContext]="channelContext"
      [repUniqueID]="section"
    >
    </rep-namebox>

    <div
      class="body"
      body
    >

      <rep-separator>Members</rep-separator>

      <rep-accordion
        *ngFor="let member of selectedChannel?.members"
        class="members"
      >

        <rep-namebox
          header
          [message]="member"
        >
        </rep-namebox>

        <div
          body
          class="permissions"
        >

          <rep-separator>{{member.name}}'s permissions</rep-separator>

        </div>

      </rep-accordion>

    </div>

  </rep-accordion>

</div>
