<!-- <rep-entries>

  <rep-input></rep-input>

</rep-entries> -->

<rep-tabs
  class="channels"
  [entries]="channels"
  (onNew)="addNew()"
  (onTab)="channelsTab = $event"
>

  <!-- <small *ngIf="channels[channelsTab]?.sections.length == 0">
    {{channels[channelsTab]?.tabname}} is empty.
  </small> -->

  <div
    *ngIf="channels[channelsTab].tabname == 'Channels'"
    cdkDropList
    [cdkDropListData]="_ms.channels"
    class="list"
    (cdkDropListDropped)="orderChannel($event)"
  >

    <rep-accordion
      *ngFor="let section of _ms.channels; let i = index"
      [open]="_ms.channels[i]?.open || section?.id == _ms.currentChannel?.id"
      (click)="selectChannel(section)"
      cdkDrag
      cdkDragLockAxis="y"
      cdkDragBoundary=".list"
    >

      <rep-namebox
        #namebox
        header
        cdkDragHandle
        [repContext]="channelContext"
        [message]="section"
        [hold]="_ms.currentChannel?.id == section.id"
        backgroundColor="#202124"
      >
      </rep-namebox>

      <div
        *ngIf="_ms.currentChannel?.id == section.id"
        class="rooms"
        body
        repStop
      >

        <rep-separator *ngIf="_ms.currentChannel.rooms?.text.length > 0">
          Text rooms
        </rep-separator>

        <rep-room
          *ngFor="let room of _ms.currentChannel.rooms?.text"
          [roomName]="room.roomName"
          [textRoom]="room.textRoom"
          [notifications]="room.notifications"
          [hold]="_ms.isInRoom(room)"
          (click)="selectRoom(room)"
        >
        </rep-room>

        <rep-separator *ngIf="_ms.currentChannel.rooms?.vocal.length > 0">
          Vocal rooms
        </rep-separator>

        <rep-room
          *ngFor="let room of _ms.currentChannel.rooms?.vocal"
          [roomName]="room.roomName"
          [textRoom]="room.textRoom"
          [members]="room.connected"
          [hold]="_ms.isInRoom(room)"
          (click)="selectRoom(room)"
        >
        </rep-room>

      </div>

    </rep-accordion>
  </div>

</rep-tabs>
