<rep-tabs
  class="tabs"
  [entries]="tabs"
  (onNew)="addNew()"
  (onTab)="tabIndex = $event"
>
  <!-- First tab -->
  <div
    *ngIf="tabs[tabIndex].tabname == 'Channels'"
    cdkDropList
    [cdkDropListData]="_ms.channels"
    class="list"
    (cdkDropListDropped)="orderChannel($event)"
  >

    <rep-accordion
      *ngFor="let section of _ms.channels; let i = index"
      [open]="_ms.channels[i]?.open || section?.id == _ms.currentChannel?.id"
      (click)="selectChannel(section)"
      cdkDrag
      cdkDragLockAxis="y"
      cdkDragBoundary=".list"
    >

      <rep-namebox
        header
        cdkDragHandle
        [message]="filterChannel(section)"
        [hold]="_ms.currentChannel?.id == section.id"
        backgroundColor="#202124"
      >
      </rep-namebox>

      <div
        *ngIf="_ms.currentChannel?.id == section.id"
        class="rooms"
        body
        cdkDropList
        [cdkDropListData]="_ms.currentChannel.rooms"
        (cdkDropListDropped)="orderRoom($event)"
      >

        <rep-actions onlyIcons="true" [actions]="channelActions"></rep-actions>

        <!-- Rooms -->
        <div class="rooms textRooms">

          <rep-separator>
            Text rooms
          </rep-separator>

          <rep-room
            *ngFor="let room of _ms.currentChannel.rooms | filterTextRooms"
            [repContext]="roomOptions"
            [repUniqueID]="room.roomID"
            [roomName]="room.roomName"
            [textRoom]="room.textRoom"
            [notifications]="room.notifications"
            [hold]="_ms.isInRoom(room)"
            (click)="selectRoom(room)"
            cdkDrag
            [cdkDragStartDelay]="_utils.isMobile ? 200 : 0"
            [cdkDragDisabled]="!_ms.chPermissions.createRooms"
            cdkDragLockAxis="y"
            cdkDragBoundary=".textRooms"
          >
          </rep-room>

        </div>

        <div class="rooms vocalRooms">

          <ng-container
            *ngFor="
            let room of _ms.currentChannel.rooms | filterVocalRooms;
            let rmIndex = index;"
          >

            <rep-separator *ngIf="rmIndex == 0">
              Vocal rooms
            </rep-separator>

            <rep-room
              [roomName]="room.roomName"
              [textRoom]="room.textRoom"
              [members]="room.connected"
              [repContext]="roomOptions"
              [repUniqueID]="room.roomID"
              [hold]="_ms.isInRoom(room)"
              (click)="selectRoom(room)"
              cdkDrag
              [cdkDragDisabled]="!_ms.chPermissions.createRooms"
              [cdkDragStartDelay]="_utils.isMobile ? 200 : 0"
              cdkDragLockAxis="y"
              cdkDragBoundary=".vocalRooms"
            >
            </rep-room>

          </ng-container>

        </div>

      </div>

    </rep-accordion>

  </div>


  <!-- Second tab -->
  <div
    *ngIf="tabs[tabIndex].tabname == 'Friends'"
  >

  </div>

</rep-tabs>
