@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import 'src/app/styles/mixins';


.mtd-footer {
  width: 100%;
  height: 10vh;
  background: var(--VERY-DARK);
  @include flexCenter(row);
  font-family: 'Josefin Sans', sans-serif;
  color: #ffffff;

  p {
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
  }
}
