<div id="flat-input" [ngStyle]="{
    'border': placeholderAnimated ? '2px solid ' + color : (required && empty ? '1px solid ' + borderColor : '1px solid gray'),
    'padding': placeholderAnimated ? '0px ' : '1px',
    'margin-bottom': hint ? '10px' : '0px',
    'background': disabled ? '#3c3c3ceb' : 'transparent'
}" [ngClass]="{
    'small': size == 'small',
    'medium': size == 'medium',
    'big': size == 'big'
}">
<div id="main-content">
    <input [placeholder]="getPlaceholder()" [disabled]="disabled" [type]="type" [(ngModel)]="text" (focus)="onFocus()" (focusout)="onFocusOut()"
    (ngModelChange)="textChange.emit(text)" autocomplete="off"/>
    <mat-icon [style.color]="color" *ngIf="icon">{{icon}}</mat-icon>
    <mat-icon [style.color]="color" (mouseenter)="showToolTip()">info</mat-icon>
</div>
<label id="placeholder" [ngStyle]="{
    'color': placeholderAnimated ? color : borderColor
}" [@placeholderAnimated] = "placeholderAnimated ? 'moved' : 'static'">{{placeholder}}</label>
</div>
<label id="hint" *ngIf="hint" [ngStyle]="{
'color': placeholderAnimated ? color : borderColor
}">{{hint}}</label>
<label id="required" *ngIf="empty" [style.color]="borderColor">This field is required *</label>