<div id="flat-input" [ngStyle]="{
    'border': placeholderAnimated ? '2px solid ' + color : '1px solid gray',
    'padding': placeholderAnimated ? '0px ' : '1px',
    'margin-bottom': hint ? '10px' : '0px'
}" [ngClass]="{
    'small': size == 'small',
    'medium': size == 'medium',
    'big': size == 'big'
}">
<div id="main-content">
    <input [placeholder]="getPlaceholder()" [type]="type" [(ngModel)]="text" (focus)="onFocus()" (focusout)="onFocusOut()"
    (ngModelChange)="textChange.emit(text)"/>
    <mat-icon [style.color]="color" *ngIf="icon">{{icon}}</mat-icon>
</div>
<label id="placeholder" [ngStyle]="{
    'color': placeholderAnimated ? color : 'grey'
}" [@placeholderAnimated] = "placeholderAnimated ? 'moved' : 'static'">{{placeholder}}</label>
</div>
<label id="hint" *ngIf="hint" [ngStyle]="{
'color': placeholderAnimated ? color : 'grey'
}">{{hint}}</label>