@import 'src/app/styles/fonts';

.status-bar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--LIGHT-DARK);


  .profile {
    height: 100%;
    display: flex;
    align-items: center;

    p {
      margin-top: 5px;
      align-self: flex-start;
    }
  }

  .right {
    display: flex;
    align-items: center;
    margin-right: 15px;

    .connection {
      margin: 10px;
    }
  }
}

.connected {
  color: var(--SUCCESS);
}

.disconnected {
  color: var(--DANGER);
}
