<div id="settings">

  <nav class="menu"
    [@openClose]="navOpen"
  >

    <button
      *ngFor="let submenu of menus; let i = index"
      class="submenu"
      matRipple matRippleColor="#ffffff47"
      (click)="changeRoute(i)"
      [style.color]="submenu.color"
      [style.background]="submenu.name == currentRoute ? '#434343' : ''"
      >
      <p>{{submenu.name}}</p>
      <mat-icon>{{submenu.icon}}</mat-icon>
    </button>

    <span (click)="navOpen = !navOpen">
      <mat-icon>menu</mat-icon>
    </span>

  </nav>

  <div class="section">

    <div class="navigator">

      <div class="spacer">

        <h1>{{currentRoute}}</h1>

        <button class="back" routerLink="/mainpage">
            <mat-icon>arrow_back</mat-icon>
        </button>

      </div>

    </div>

    <div class="router">

      <router-outlet></router-outlet>

    </div>

  </div>

</div>
