#settings {
    width: 100%;
    height: 100vh;
    user-select: none;
    background:#1e1e1e;
    display: flex;

    #menu {
        width: 300px;
        height: 100%;
        background:#111111;
        display: flex;
        align-items: center;
        flex-direction: column;

        #submenu {
            width: 90%;
            height: 25px;
            padding: 5px;
            margin: 5px;
            cursor: pointer;
            border: 1px solid #ffffff60;
            border-radius: 5px;
        }
    }

    #section {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;

        #navigator {
            width: 100%;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #FFFFFF;

            #spacer {
                width: 50%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                position: relative;
                align-items: center;

                #back {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    display: flex;
                    position: absolute;
                    right: 0;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #ffffff60;
                    cursor: pointer;
                    transition: 100ms;
            
                    &:hover {
                        background: lighten($color: #1e1e1e, $amount: 15);
                    }
                }
            }
        }
    }
}