<div id="settings">

    <div id="menu">

        <div *ngFor="let submenu of menus; let i = index" id="submenu" matRipple matRippleColor="#ffffff47"
            (click)="changeRoute(i)" [style.color]="submenu.color">
            <p>{{submenu.name}}</p>
            <mat-icon>{{submenu.icon}}</mat-icon>
        </div>

    </div>

    <div id="section">

        <div id="navigator">
            
            <div id="spacer">

                <h1>{{currentRoute}}</h1>

                <div id="back" routerLink="/mainpage"> 
                    <mat-icon>arrow_back</mat-icon>
                </div>

            </div>

        </div>

        <router-outlet name="settings"></router-outlet>
        
    </div>

</div>