<div id="mainpage">

    <rep-sidemenu
    id="channels"
    [entries]="channels"
    (onNew)="addNew()" 
    (onTab)="channelsTab = $event">

        <rep-message
        *ngFor="let section of channels[channelsTab]?.sections; let i = index" 
        (onClick)="selectChannel(section._id)" 
        [message]="section" 
        [options]="options">
        </rep-message>

    </rep-sidemenu>

    <rep-chat
    [textboxEnabled]="_msService.currentRoom"
    [messages]="_msService.messages" 
    [user]="_user.currentUser"
    (sendMessage)="sendChannelMessage($event)"></rep-chat>


    <rep-sidemenu
    id="ch-info"
    [entries]="serverInfo"
    (onTab)="serverInfoTab = $event">


    </rep-sidemenu>

</div>