#mainpage {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--LIGHT-DARK);


    rep-status-bar {
        width: 100%;
        height: 50px;
    }

    #main {
        width: 100%;
        height: 100%;
        display: flex;
        overflow-x: hidden;
    }

    #channels {
        min-width: 250px;
        max-width: 250px;

        rep-message {
            width: 100%;
            cursor: pointer;
        }
    }

    rep-chat {
        width: 100%;
        height: 100%;
    }

    #ch-info {
        min-width: 245px;
        max-width: 250px;
    }

}