<div id="mainpage" [@.disabled]="!hasLoaded">

    <rep-status-bar [user]="_user.currentUser"></rep-status-bar>

    <div class="main">

        <rep-sidemenu
            *ngIf="_utils.settings.showChannels"
            class="channels"
            @openLeft
            [entries]="channels"
            (onNew)="addNew()"
            (onTab)="channelsTab = $event"
        >

            <rep-accordion
                *ngFor="let section of channels[channelsTab]?.sections; let i = index"
                [open]="channels[channelsTab].sections[i].open"
                (click)="selectChannel(section); expandChannel(i)"
            >

                <rep-message header
                    [message]="section"
                    [hold]="_msService.currentChannel?._id == section._id"
                >
                </rep-message>

                <div class="rooms" body stopPropagation>

                    <ng-container *ngFor="let room of _msService.currentChannel?.rooms; let j = index">

                        <rep-separator *ngIf="j == 0">Text rooms</rep-separator>

                        <rep-room
                            [roomName]="room.roomName"
                            [textRoom]="room.textRoom"
                            [hold]="room.roomID == _msService.currentRoom?.roomID"
                            (click)="selectRoom(room)"
                        >
                        </rep-room>

                    </ng-container>

                </div>

            </rep-accordion>

            <small *ngIf="channels[channelsTab]?.sections.length == 0">{{channels[channelsTab]?.tabname}} is empty</small>

        </rep-sidemenu>

        <rep-chat
            [messages]="_msService.messages"
            [textboxEnabled]="_msService.chPermissions?.sendMessages"
            [chatName]="displayChatName()"
            [msOptions]="msgOptions"
            [chatOptions]="chatOptions"
            [dateFormat]="_utils.settings.dateFormat"
            (sendMessage)="sendChannelMessage($event)"
        ></rep-chat>

        <rep-sidemenu
            *ngIf="_utils.settings.showServerGroup"
            @openRight
            class="ch-info"
            [entries]="serverInfo"
            [add]="false"
            (onTab)="serverInfoTab = $event"
        >

            <small *ngIf="serverInfo[serverInfoTab]?.sections.length == 0">{{serverInfo[serverInfoTab]?.tabname}} is Empty.</small>

        </rep-sidemenu>

    </div>

</div>