<div id="mainpage" [@.disabled]="!hasLoaded">

    <rep-status-bar [user]="_user.currentUser"></rep-status-bar>

    <div id="main">

        <rep-sidemenu
            id="channels"
            *ngIf="_utils.settings.showChannels"
            @openLeft
            [entries]="channels"
            (onNew)="addNew()"
            (onTab)="channelsTab = $event"
        >

            <rep-accordion *ngFor="let section of channels[channelsTab]?.sections; let i = index">

                <rep-message header
                    (onClick)="selectChannel(section)"
                    [message]="section"
                    [options]="options"
                    [hold]="_msService.currentChannel?._id == section._id"
                >
                </rep-message>

                <div class="rooms" body>
                    <span *ngFor="let room of roomsArr">{{room}}</span>
                </div>

            </rep-accordion>

            <!-- Original -->
            <!-- <rep-message
                *ngFor="let section of channels[channelsTab]?.sections; let i = index"
                (onClick)="selectChannel(section)"
                [message]="section"
                [options]="options"
                [hold]="_msService.currentChannel?._id == section._id"
            >
            </rep-message> -->

            <small *ngIf="channels[channelsTab]?.sections.length == 0">{{channels[channelsTab]?.tabname}} is empty</small>

        </rep-sidemenu>

        <rep-chat
            [messages]="_msService.messages"
            [textboxEnabled]="_msService.chPermissions?.sendMessages"
            [chatName]="_msService.currentChannel?.name"
            [msOptions]="msgOptions"
            [chatOptions]="chatOptions"
            [dateFormat]="_utils.settings.dateFormat"
            (sendMessage)="sendChannelMessage($event)"
        ></rep-chat>

        <rep-sidemenu
            *ngIf="_utils.settings.showServerGroup"
            @openRight
            id="ch-info"
            [entries]="serverInfo"
            [add]="false"
            (onTab)="serverInfoTab = $event"
        >

            <small *ngIf="serverInfo[serverInfoTab]?.sections.length == 0">{{serverInfo[serverInfoTab]?.tabname}} is Empty.</small>

        </rep-sidemenu>

    </div>

</div>