#mainpage {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    rep-chat {
        height: 90vh;
    }

    rep-textbox {
        height: 10vh;
    }
}