rep-entries {

  .create-room {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      align-self: flex-start;
      margin-left: 30px;
    }

    rep-toggle {
      margin: 5px;
    }

    rep-input {
      margin: 30px 20px 30px 20px;
    }

    rep-separator {
      width: 90%;
      margin: 10px;
    }

    rep-button {
      margin: 10px;
      align-self: flex-end;
    }

    .align {
      display: flex;
      align-items: center;

      rep-info {
        margin: 5px;
      }

      .column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 25px;
      }
    }
  }
}

