<rep-entries
  [(show)]="mainpage.roomCreation"
>

  <form class="create-room" [formGroup]="form">

    <h1>Create room</h1>

    <rep-input
      formControlName="roomName"
      placeholder="Room name"
      maxLength="30"
      required="true"
    >
    </rep-input>

    <span class="align">

      <span class="column">

        <span style="display: flex; align-items: center;">
          Auto join

          <rep-info tooltip="When enabled everyone in this channel will automatically join this room"></rep-info>
        </span>


        <rep-toggle
          formControlName="autoJoin"
        ></rep-toggle>
      </span>

      <span class="column">

        <span style="display: flex; align-items: center;">
          Text room
          <rep-info tooltip="Text room or vocal room"></rep-info>
        </span>

        <rep-toggle
          formControlName="textRoom"
        ></rep-toggle>
      </span>

    </span>

    <rep-button
      background="success"
      type="submit"
      icon="library_add"
      [enabled]="canSave()"
      (onClick)="save()"
    >
      Create
    </rep-button>

  </form>

</rep-entries>
