<rep-tabs
  class="channel-info"
  [entries]="serverInfo"
  [add]="false"
  (onTab)="serverInfoTab = $event"
>

  <ng-container
    *ngIf="
      serverInfo[serverInfoTab].tabname == 'Members'
      &&
      _ms.currentRoom
    "
  >
    <rep-separator>Online</rep-separator>

    <ng-container
      *ngFor="let member of _ms.currentRoom.members | filterOnlineMembers; trackBy trackByID; let i = index;"
    >

      <rep-namebox
        [status]="member.userStatus"
        [message]="member"
      >
      </rep-namebox>

    </ng-container>

    <ng-container
      *ngFor="let member of _ms.currentRoom.members | filterOfflineMembers; trackBy trackByID; let i = index;"
    >

      <rep-separator *ngIf="i == 0">Offline</rep-separator>

      <rep-namebox
        [status]="member.userStatus"
        [message]="member"
      >
      </rep-namebox>

    </ng-container>

  </ng-container>


  <ng-container
    *ngIf="serverInfo[serverInfoTab].tabname == 'Pending'"
  >

    <rep-namebox header
      *ngFor="let pending of _ms.currentChannel?.pendings"
      [message]="pending"
      [uniqueID]="pending.id"
      [options]="_ms.chPermissions.acceptMembers ? pendingOptions : null"
      >
    </rep-namebox>


  </ng-container>


</rep-tabs>
