<rep-tabs
  class="channel-info"
  [entries]="serverInfo"
  [add]="false"
  (onTab)="serverInfoTab = $event"
>

  <!-- First tab -->
  <ng-container
    *ngIf="
      serverInfo[serverInfoTab].tabname == 'Members'
      &&
      _ms.currentRoom
    "
  >

    <ng-container
      *ngFor="
      let member of _ms.currentRoom.members | filterOnlineMembers;
      trackBy trackByID;
      let i = index;
      "
    >

      <rep-separator *ngIf="i == 0">Online</rep-separator>

      <rep-namebox
        [repContext]="memberOptions"
        [repUniqueID]="member"
        [status]="member.userStatus"
        [message]="member"
      >
      </rep-namebox>

    </ng-container>



    <ng-container
      *ngFor="
      let member of _ms.currentRoom.members | filterOfflineMembers;
      trackBy trackByID;
      let i = index;"
    >

      <rep-separator *ngIf="i == 0">Offline</rep-separator>

      <rep-namebox
        [status]="member.userStatus"
        [message]="member"
        [repContext]="memberOptions"
        [repUniqueID]="member"
      >
      </rep-namebox>

    </ng-container>

  </ng-container>




  <!-- Second tab -->
  <ng-container
    *ngIf="serverInfo[serverInfoTab].tabname == 'Pending'"
  >

    <small *ngIf="_ms.currentChannel?.pendings.length == 0">Waiting list is empty.</small>

    <rep-namebox header
      *ngFor="let pending of _ms.currentChannel?.pendings"
      [message]="pending"
      [uniqueID]="pending"
      [options]="_ms.chPermissions.acceptMembers ? pendingOptions : null"
      >
    </rep-namebox>


  </ng-container>


</rep-tabs>
