<rep-tabs
  class="channel-info"
  [entries]="serverInfo"
  [add]="false"
  (onTab)="serverInfoTab = $event"
>

  <small *ngIf="serverInfo[serverInfoTab]?.sections.length == 0">{{serverInfo[serverInfoTab]?.tabname}} is Empty.</small>

  <ng-container
    *ngFor="let member of serverInfo[serverInfoTab]?.sections; let i = index;"
  >

    <rep-separator
      *ngIf="member.userStatus == 1 && i == 0"
    >
      Online
    </rep-separator>

    <rep-separator
      *ngIf="
        serverInfo[serverInfoTab]?.sections[i]?.userStatus == 0
        &&
        serverInfo[serverInfoTab]?.sections[i-1]?.userStatus == 1
      "
    >
      Offline
    </rep-separator>

    <rep-namebox
      [status]="member.userStatus"
      [message]="member"
    >
    </rep-namebox>


  </ng-container>

</rep-tabs>
